.posts {
  .card-img-top {
    position: relative;
    height: 30%;
    top: 20px;
    width: 60%;
    box-shadow: #000 6px 8px 28px -8px;
  }
  .img-fluid {
    box-shadow: #000 6px 8px 28px -4px;
  }
  .btn {
    text-decoration: none;
  }
  .round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center
  }

  .actions {
    background: rgba(50, 0, 61, 0.7);
    padding: 20px;
    margin: 10px 0;
    box-shadow: #000 6px 8px 28px -4px;
  }

  .author {
    a{
      color: #f0f0f0;
      font-weight: bolder;
      text-decoration: underline
    }
  }

  i{
    color: #aaa;
    
    &:hover{
      color: #888
    }
  }

  .voto-negativo, .voto-positivo{
    color: #dc3545;
    
    &:hover{
      color:#ff5868;
    }
  }
}