.posts{
  .card-img-top{
    position: relative;
    height: 30%;
    top: 20px;
    width: 60%;
    box-shadow: #000 6px 8px 28px -8px;
  }
  
  .img-fluid{
    box-shadow: #000 6px 8px 28px -4px;
  }
}